/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu,
    nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

figure {
    margin: 1em 40px;
}

img {
    border-style: none;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type=checkbox], [type=radio] {
    padding: 0;
}

/* End extract */
html, body {
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

img {
    margin-bottom: -5px;
}

a {
    color: inherit;
}

footer {
    padding: .01em 16px;
    color: #fff !important;
    background-color: #57a639 !important;
    text-align: center !important;
    margin-top: 16px !important;
}

footer:before, footer:after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

#pagecontainer {
    max-width: 90%;
    margin: auto;
    margin-top: 16px !important;
}

#navigation {
    margin: 0;
    background-color: #fff !important;
    color: #757575 !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0
        rgba(0, 0, 0, .19);
    padding: 1em .5em 2em 4em;
    display: block;
    float: left;
    width: 24.99999%;
    max-width: 300px;
    list-style-type: none;
}

#navigation>li {
    padding-bottom: .5em;
}

#navigation:before, #navigation:after, .panel:before, .panel:after {
    content: '';
    display: table;
    clear: both;
}

.panel {
    padding: .2em 1em 5em 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0
        rgba(0, 0, 0, .12);
    color: #000 !important;
    background-color: #fff !important;
    margin-bottom: 16px !important;
}

h2 {
    color: #757575 !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

#grid:after, #grid:before {
    content: '';
    display: table;
    clear: both;
}

#grid, #grid>#content {
    padding: 0 8px;
}

#content {
    float: left;
    width: 100%;
}

#content {
    width: 74.99999%;
}

.centreTable {
    margin-left: auto;
    margin-right: auto;
}

.centreText {
    text-align: center;
}

.simpleTable, .formattedTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.formattedTable {
    border: 1px solid #ccc;
}

.formattedTable tr {
    border-bottom: 1px solid #ddd;
}

.formattedTable tr:nth-child(odd) {
    background-color: #fff;
}

.formattedTable tr:nth-child(even) {
    background-color: #f1f1f1;
}

.hoverableRow tbody tr:hover {
    background-color: #ccc;
}

.simpleTable td, .simpleTable th, .formattedTable td, .formattedTable th
    {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.simpleTable th:first-child, .simpleTable td:first-child,
    .formattedTable th:first-child, .formattedTable td:first-child {
    padding-left: 16px;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form label {
    width: 150px;
    float: left;
}

form label:after {
    content: ':';
}

form input, form select {
    margin: 0;
    padding: 4px;
    width: 200px;
    color: #57a639;
}

form input[type='text'] {
    border: 1px solid #ccc;
}

input[type='checkbox'] {
    width: 25px;
    margin: 10px 100px;
    position: relative;
}

form input[type='submit'] {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 1em;
}

form input:after, form select:after {
    clear: both;
}

form fieldset {
    border: 0;
}

input.smallInput {
    width: 50px;
}